<h1>Pies Data</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!pies"><em>Loading...</em></p>

<div class="panel panel-primary">
  <div class="panel-heading"
       style="font-size:large">Pies Data
  </div>

  <div class="panel-body">
    <table class='table' *ngIf="pies">

          <thead>
          <tr>             
            <th>Image</th>

              <th>Name</th>
              <th>ShortDescription</th>
              <th>Price</th>            
              
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pie of pies">
                
              <td>
              <a routerLink="/detail/{{pie.id}}">
                <img src="{{pie.imageThumbnailUrl}}"   width="100px" height="75px" alt="Description"/>
              </a>
              </td>
            
              <td> {{ pie.name}}</td>
              <td>{{ pie.shortDescription }}</td>            
              <td>{{ pie.price | currency}}</td>

          </tr>
          </tbody>
      </table>
  </div>
</div>

