<h1>Pie Edit</h1>

<p *ngIf="!pie"><em>Loading...</em></p>

<button routerLink="/pie-data" type="button" class="btn btn-primary">Go Back</button>

<div  class="container">

  <div *ngIf="updated" class="alert alert-success">
      <strong>Success!</strong> 
    </div>

  <div class="row">
    
  <form #pieForm="ngForm" *ngIf="pie" class="col-md-6">
    <div>

      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" class="form-control input-md"
               required minlength="5" 
               [(ngModel)]="pie.name" #name="ngModel"  >

        <div *ngIf="name.invalid && (name.dirty || name.touched)"
             class="alert alert-danger">

          <div *ngIf="name.errors.required">
            Name is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 5 characters long.
          </div>
         
        </div>
      </div>

      <div class="form-group ">
        <label for="shortDescription">Short Description</label>
        <input id="shortDescription" class="form-control input-md"
               name="shortDescription" [(ngModel)]="pie.shortDescription" >
      </div>

      <div class="form-group">
          <label for="imageUrl">Image Url</label>
          <select class="form-control" id="imageUrl"
                  required
                  [(ngModel)]="pie.imageUrl" name="imageUrl"
                  #imageUrl="ngModel">
      
           <option selected="selected" [value]="pie.imageUrl" >{{pie.imageUrl}}</option>
      
            <option *ngFor="let img of imageUrls" [value]="img">{{img}}</option>
          </select>
          <div [hidden]="imageUrl.valid || imageUrl.pristine" class="alert alert-danger">
              Image Url is required
          </div>
        </div>


      <div class="form-group">
        <label for="price">Pie Price</label>

        
        <input type="number" id="price" name="price" class="form-control input-md"
               required 
               [(ngModel)]="pie.price" #price="ngModel" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" >
             <div *ngIf="price.invalid">
              Is price a valid decimal value.
            </div>
        

        <div *ngIf="price.invalid && (price.dirty || price.touched)"
             class="alert alert-danger">

          <div *ngIf="price.errors.required">
            Price is required.
          </div>
          <div *ngIf="price.errors.minlength">
            Price must be at least 5 characters long.
          </div>
         
        </div>
      </div>

      <button type="submit" class="btn btn-success" (click) = "save(pie)"
              [disabled]="pieForm.invalid">Update</button>
     </div>

   
  </form>


</div>

</div>


<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
--> 